<#bs4Body>
<style type="text/css">
    body {
        font-size: 16px;
    }

    #contenter {
        margin-left: 40%;
        margin-right: 45%;
        margin-top: 1%;
    }

    #contenter form div {
        margin-bottom: 10px;
    }

</style>
<div id="contenter">
    <form>
        <div>
            <label for="realName">姓名：</label>
            <input type="text" id="realName" name="realName"/>
        </div>
        <div>
            <label for="userName">昵称：</label>
            <input type="text" id="userName" name="userName" readonly="true"/>
        </div>
        <div>
            <label for="userName1">昵称：</label>
            <input type="text" id="userName1" name="userName1" disabled="true" />
        </div>
        <div>
            <div contenteditable="true" style="border: thin black solid;">

            </div>
        </div>
        <div>
            <label for="photo">头像：</label>
            <input type="file" id="photo" name="photo"/>
        </div>
        <div>
            <label for="userName">性别：</label>
            <input type="radio" name="sex" />男
            <input type="radio" name="sex" />女
        </div>
        <div>
            <label for="grade">成绩：</label>
            <input type="number" name="grade" id="grade" max="100"/>
        </div>
        <div>
            <label for="grade">成绩：</label>
            <input type="number" name="grade" id="grade1" max="100"/>
        </div>
        <div>
            <button hotkey="i" onclick="add()" preventDefault>新增(i)</button>
            <button type="button" hotkey="D" hotkey-scope="scope1" preventDefault>取消(D)-scope1</button>
            <button type="button" hotkey="S" hotkey-scope="scope2">保存(S)-scope2</button>
            <input type="button" value="测试(A)" hotkey="A" hotkey-trigger-event="click" onclick="console.log('triggerEvent:click')" onchange="console.log('triggerEvent:change')"/>
        </div>

    </form>
</div>

</#bs4Body>
<script src="/hotkeys.js"></script>
<script src="/hotkeys-extend.js"></script>
<script>
    hotkey.start();

    $('[hotkey]').on('click',function(e){
        console.log(e.target);
        e.preventDefault();
    });

    function add() {
        bs4pop.dialog({
            title: '新增',
            content: template('hkTpl', {}),
            // content:'/customer/hotkey.html?a='+Math.random(),
            closeBtn: true,
            // isIframe:true,
            // btnAutoFocus:true,
            backdrop : 'static',
            width: '40%',
            btns: [
                {
                    label: '确定(T)',id:'ok-btn', className: 'btn-primary', onClick(e) {
                        console.log('sure');
                    }
                },
                {label: '取消(W)',id:'cancel-btn', className: 'btn-secondary', onClick(e) {
                        console.log('cancel');
                    }}
            ]
        });

        $('#ok-btn').hotkey({hotkey: 't', scope: 'modal'});
        $('#cancel-btn').hotkey({hotkey: 'w', scope: 'modal'});
    }

</script>
<script id="hkTpl" type="text/html">
    <div>
        <label for="boss">老板：</label>
        <input type="text" id="boss" />
    </div>
    <div>
        <label for="enterprise">企业：</label>
        <input type="text" id="enterprise"/>
    </div>
    <button type="button" hotkey="Q" onclick="javascript:console.log('q')">保存(q)</button>
</script>
