<#bs4Body>
<style type="text/css">
    body {
        font-size: 16px;
    }

    #contenter {
        margin-left: 40%;
        margin-right: 45%;
        margin-top: 1%;
    }

    #contenter form div {
        margin-bottom: 10px;
    }
</style>
<div id="contenter">
    <form>
        <div>
            <label for="realName">姓名：</label>
            <input type="text" id="realName" name="realName" focus-shift/>
        </div>
        <div>
            <label for="userName">昵称：</label>
            <input type="text" id="userName" name="userName" readonly="true"/>
        </div>
        <div>
            <label for="userName1">昵称：</label>
            <input type="text" id="userName1" name="userName1" disabled="true"/>
        </div>
        <div>
            <div contenteditable="true" style="border: thin black solid;">

            </div>
        </div>
        <div>
            <label for="photo">头像：</label>
            <input type="file" id="photo" name="photo" focus-shift/>
        </div>
        <div>
            <label for="userName">性别：</label>
            <input type="radio" name="sex"/>男
            <input type="radio" name="sex"/>女
        </div>
        <div>
            <label for="grade">成绩：</label>
            <input type="number" name="grade" id="grade" max="100"/>
        </div>
        <div>
            <label for="grade">成绩：</label>
            <input type="number" name="grade" id="grade1" max="100" focus-shift/>
        </div>
        <div>
            <button type="button" id="add" data-hotkey="ivar" focus-shift>新增(i)</button>
            <button data-hotkey="{key:'D',scope:'scope1'}" focus-shift>取消(D)-scope1</button>
            <button type="button" data-hotkey="{key:'S'}" onclick="saveFn()">保存(S)</button>
            <input id="tt" type="button" value="测试(A)" data-hotkey="{key:'A',triggerEvent:'click'}"
                   onclick="console.log('triggerEvent:click')"
                   onchange="console.log('triggerEvent:change')"/>
            <input type="submit" value="submit" focus-shift>
            <input type="reset" value="reset" focus-shift>
        </div>

    </form>
</div>
<#bhotkey/>
</#bs4Body>

<script>
    let ivar = {key:'I'};
    hotkey.config = {
        focusShift: true,
        //焦点转移配置项
        focusShiftOptions: {
            enableHotkeys: ['ENTER', 'RIGHT', 'LEFT', 'ESC'],
            focusElFilter: ':not(:hidden,[readonly],[disabled])'
        }
    };
    hotkey.start();

    $('#add').on('click',bui.util.debounce(add,1000,true));

    function save(){
        console.log("保存成功");
        // return false;
    }

    var saveFn = bui.util.debounce(save,1000,true);

    function add() {
        console.log(1)
        bs4pop.dialog({
            title: '新增',
            content: template('hkTpl', {}),
            // content:'/customer/hotkey.html?a='+Math.random(),
            closeBtn: true,
            // isIframe:true,
            // btnAutoFocus:true,
            backdrop : 'static',
            width: '40%',
            btns: [
                {
                    label: '确定(T)',id:'ok-btn', className: 'btn-primary', onClick : bui.util.debounce(save,1000,true),
                    hotkey : {
                        key : 't',
                        focusShift: true
                    }
                },
                {label: '取消(W)',id:'cancel-btn', className: 'btn-secondary', onClick(e) {
                        console.log('cancel');
                    },
                    hotkey : {
                        key : 'w',
                        focusShift: true
                    }
                }
            ]
        });
    }

</script>
<script id="hkTpl" type="text/html">
    <div>
        <label for="boss">老板：</label>
        <input type="text" id="boss"  focus-shift/>
    </div>
    <div>
        <label for="enterprise">企业：</label>
        <input type="text" id="enterprise"/>
    </div>
    <button type="button" data-hotkey="{key:'Q'}" onclick="javascript:console.log('q')">保存(q)</button>
</script>
