<#bs4Body>
<div class="container-fluid">
    <form class="form" id="_form">
        <div class="form-group mb-2 mr-5">
            <label for="code" class="justify-content-end mr-2 w-100px">客户编号:</label>
            <input type="text" class="form-control" name="code" id="code" required/>
        </div>
        <div class="form-group">
            <label for="s2">区域</label>
            <div class="input-group">
                <select id="s2" name="sw" required style="width: 20%" multiple>
                </select>
                <#bselect2 _id="s2" _provider="sexProvider" _value="[1,2]"/>
            </div>
        </div>
        <button type="button" class="btn btn-primary" onclick="bui.util.debounce(saveOrUpdateHandler,1000,true)()">提交</button>
    </form>
</div>
</#bs4Body>
<script>
    function saveOrUpdateHandler(){
        if ($('#_form').validate().form() != true) {
            return;
        }
    }

    // $('#s2').select2({
    //     data:[{id:1,text:'张三'},{id:2,text:'李四'}],
    // ajax: {
    //     type:'post',
    //     url: '/provider/getLookupList.action',
    //     data: function (params) {
    //         var query = {
    //             value: params.term,
    //             // queryParams: '{required:true}',
    //             provider:'cityProvider'
    //         }
    //         return query;
    //     },
    //     dataType: 'json',
    //     processResults: function (data) {
    //         return {
    //             results: $.map(data, function (obj) {
    //                 obj.id = obj.value; // replace pk with your identifier
    //                 return obj;
    //             })
    //         };
    //     }
    // }
    // });
    // var option = new Option('张三', 1, false, false);
    // $('#s2').append(option);
    $('#s2').on('change', function (e) {
        console.log(e);
    });



    $('#s2').on('select2:select', function (e) {
        var data = e.params.data;
        console.log(data);
    });
    // $('#s2').on('select2:selecting', function (e) {
    //     var data = e.params.data;
    //     console.log(data);
    // });
    $('#s2').val(1).trigger('change.select2');
</script>