<#bs4Body>
<table id="table"  data-toggle="table" data-url="/treegrid.json" data-id-field="id" data-tree-show-field="name" data-parent-id-field="pid">
    <thead>
    <tr>
    <th data-field="ck" data-checkbox="true" data-align="center"></th>
    <th data-field="name" data-align="left" data-formatter="nameFormatter">
        名称
    </th>
    <th data-field="status" data-formatter="statusFormatter" data-align="center">
        状态
    </th>
    <th data-field="permissionValue" data-align="center">
        权限值
    </th>
    </tr>
    </thead>
</table>
</#bs4Body>
<#btreegrid/>
<script>


    $(function() {
        var _grid = $('#table');
        _grid.on('post-body.bs.table', function (e,data){
            var columns = _grid.bootstrapTable('getOptions').columns;

            if (columns && columns[0][1].visible) {
                _grid.treegrid({
                    treeColumn: 1,
                    // expanderExpandedClass: 'fa fa-minus',
                    // expanderCollapsedClass: 'fa fa-plus',
                    // expanderTemplate: '<span class="treegrid-expander"></span>',
                    onChange: function() {
                        console.log($(this).treegrid('getDepth'))
                        // _grid.bootstrapTable('resetWidth')
                    }
                })
            }
        });
    })

    function statusFormatter(value, row, index) {
        if (value === 1) {
            return '<span class="label label-success">正常</span>'
        }
        return '<span class="label label-default">锁定</span>'
    }

    function nameFormatter(value, row, index) {
        return '<span><i class="fa fa-file-text-o"></i> '+value+'</span>'
    }
</script>
