<#bs4Body>
<table id="table"  data-toggle="table" data-url="/treegrid.json" data-id-field="id" data-tree-show-field="name" data-parent-id-field="pid">
    <thead>
    <tr>
    <th data-field="ck" data-checkbox="true"></th>
    <th data-field="name">
        名称
    </th>
    <th data-field="status">
        状态
    </th>
    <th data-field="permissionValue">
        权限值
    </th>
    </tr>
    </thead>
</table>
</#bs4Body>
<#btreegrid/>
<script>


    $(function() {
        var _grid = $('#table');
        _grid.on('post-body.bs.table', function (e,index, row, $detail){
            var columns = _grid.bootstrapTable('getOptions').columns;

            if (columns && columns[0][1].visible) {
                _grid.treegrid({
                    treeColumn: 1,
                    onChange: function() {
                        // _grid.bootstrapTable('resetWidth')
                    }
                })
            }
        });
    })

    function typeFormatter(value, row, index) {
        if (value === 'menu') {
            return '菜单'
        }
        if (value === 'button') {
            return '按钮'
        }
        if (value === 'api') {
            return '接口'
        }
        return '-'
    }

    function statusFormatter(value, row, index) {
        if (value === 1) {
            return '<span class="label label-success">正常</span>'
        }
        return '<span class="label label-default">锁定</span>'
    }
</script>
